# .gitignore

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*~

# Ignore Jupyter Notebook files
.ipynb_checkpoints

# Ignore VS Code settings
.vscode/

# Ignore datasets, as they can be large and should not typically be version-controlled
/dataset/

# Ignore results
/results/

# Ignore virtual environment files
venv/
*.venv
